.logo {
  margin-top: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.row {
  width: 100%;
}

.login-area {
    font-size: 18px;
    color: #ffffff;
    text-align: right;
    margin-top: 10px;
    background: #26a69a;

}

.main-title a {
  color: #1a237e;
}
.main-title {
    display: block;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    background: #26a69a;
}

.new-post-title a {
  color: #1565c0;
}

.new-post-title {
    font-size: 18px;
    color: #ffffff;
    text-align: left;
    background: #26a69a;
    padding: 10px;
    height: 50px;
}


.post {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;

}

.post-heading {
    position: relative;
    border-bottom: 3px solid #666;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
}

.post-date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;

}

.post-content {
    margin-top: 5px;
}

.post-action {
    margin-top: 5px;
    text-align: right;
}

.login-link {
    color: #ffffff;

}

.login-link:visited {
    color: #ffffff;
}

.login-link:hover {
    text-decoration: underline;
}

.error {
    color: red;
    text-align: center;
}