<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/../css/style.css">
  <link rel="stylesheet" href="/../components/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/../components/font-awesome/css/font-awesome.min.css">

  <title>Blog de Novedades</title>
</head>

<body>
    <div class="container">
      <div class="row login-area">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div>
            {% if user %}
              {{user.name}} (<a class="login-link" href="/logout">logout</a>)
            {% else %}
              <a class="login-link" href="/login">login</a>
              |
              <a class="login-link" href="/signup">signup</a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="row main-title">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <a href="/blog">
            Blog de Novedades
          </a>
        </div>
      </div>
      <div class="row new-post-title">
        <div class="col-md-12 col-sm-12 col-xs-12">
          {% if user %}
            <a class="login-link" href="/blog/newpost">New Post</a>
          {% else %}
            <a class="login-link"></a>
          {% endif %}  

        </div>
      </div>    
      <div class="row">
        
          {% block content %}
          {% endblock %}
        
      </div>
      <br>
      <div class="row">
        <div class="error">{{error}}</div>  
      </div>
      

  </div>
</body>

</html>

